# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Personal notes
workflow.txt